.shopping-cart {
    width: 100%;
    color: #fff;
}

.shopping-cart .cart-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    width: 100%;
    padding-left: 0.5rem;
}

.shopping-cart .cart-icon {
    margin-bottom: 16px;
}

.sidebar .toggle-button.open {
    transform: rotateY(180deg);
}

.shopping-cart .open {
    max-width: 550px
}

.shopping-cart .open>h3 {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shopping-cart .open>h3>span {
    margin-left: 10px;
}

.shopping-cart .notification {
    color: #fff;
    text-align: center;
    margin: 10px;
}

.shopping-cart .CartTable {
    width: 100%;
    margin: 0 10px;
}

.shopping-cart .CartTable .header {
    display: flex;
    flex-direction: column;
    background: #fff;
    border: solid 1px #e4e4e4;
    border-radius: 4px;
    width: 100%;
}

.shopping-cart .header-row {
    display: flex;
    height: 50px;
    background: #2c4047;
    margin-bottom: 15px;
}

.shopping-cart .header-row span {
    flex: 1;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 17px;
    font-weight: 600;
    margin-left: 15px;
}

.shopping-cart .header-row span.center {
    display: flex;
    justify-content: center;
}

.shopping-cart .product-row {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    margin-top: 10px;
    border-bottom: solid 1px #e4e4e4;
}

.shopping-cart .product-row span {
    flex: 1;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 17px;
    font-weight: 600;
    margin-left: 15px;
}

.shopping-cart .product-row span.center {
    display: flex;
    justify-content: center;
}

